@import url("https://fonts.googleapis.com/css?family=Merriweather:300,900|Six+Caps");
body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 300;
  color: #252525;
  line-height: 1.6;
  display: grid;
  grid-template: "header header header header" 10em "hero hero hero hero" 50vh ". main sidebar ." auto "footer footer footer footer" 10em/1fr minmax(30em, 5fr) minmax(15em, 2fr) 1fr;
  grid-column-gap: 1.5em;
  margin: 0; }

header {
  grid-area: header; }

header,
footer {
  background: #252525;
  color: #e9d20f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header-title,
.footer-title {
  font-family: "Six Caps", sans-serif;
  font-size: 2.875rem;
  color: #e9d20f;
  text-transform: uppercase;
  letter-spacing: 0.3em; }

.hero {
  grid-area: hero;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-hero-bg.jpg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero-title {
  font-family: "Six Caps", sans-serif;
  font-size: 6rem;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0; }

.hero-subtitle {
  font-family: "Merriweather", serif;
  font-size: 2.875rem;
  font-weight: 300;
  color: #fff;
  margin: 0; }

main {
  grid-area: main; }

aside {
  grid-area: sidebar;
  background: #e8e8e8;
  padding: 2em; }

footer {
  grid-area: footer; }

.card {
  display: grid;
  grid-template: "img title" -webkit-min-content "img content" auto / 1fr 3fr;
  grid-template: "img title" min-content "img content" auto / 1fr 3fr;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
  grid-column-gap: 1.5em;
  padding: 1.5em;
  margin-bottom: 1.5em; }

.card-img {
  grid-area: img;
  max-width: 100%; }

.card-title {
  grid-area: title;
  margin: 0;
  font-weight: 300; }

.card-content {
  grid-area: content; }
  .card-content a {
    color: #e9d20f;
    font-size: 1.1em; }
